
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    height: 100vh;
    font-size: 1.6rem;
    background-color: $body-background;
    padding: 11.5rem;

}

html,body,button,input,table{
    font-family: 'Roboto', sans-serif;
}