
$body-background: #000;
$background-header-table:#092D38;
$remove:#F75A68;
$all-text:#E1E1E6;
$scroll-bar: #4A808C;
$color-button-search: #065E7C;
$background-for-even:rgba(6, 22, 27, 0.50);
$background-for-odd:  #06181C;