@import './abstracts/variables.scss';
@import './abstracts/base.scss';

.sr-only{
    position: absolute;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;  
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;       
}

main{
    width: 112rem;
    display: grid;
    gap: 8.7rem;
    align-items: center;
    margin: 0 auto;
    
 
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
        .search{
            display: flex;
            align-items: center;

            label{
                color: white;
            }


           #input-search{
            width: 43rem;
            height: 4.8rem;
            border-radius: .5rem;
            padding: 1.6rem;
            background-color: $background-for-odd;
            border: none;
            color: $all-text;
            
           }
        }

        button{
            position: relative;
            width: 16.6rem;
            height: 4.8rem;
            padding: 1.6rem 3rem;
            background-color: $color-button-search;
            border: none;
            border-radius: .5rem;
            color: #fff;
            font-weight: 700;
            margin-left: .8rem;
            display: flex;
            align-items: center;
            gap: .8rem;
            cursor: pointer;
            transition: 0.2s ease-in-out;

           

            &:hover{
                background-color: #fff;
                color: $color-button-search;
                svg path{
                    fill: $color-button-search;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }


    table{
        border-collapse: collapse;
        margin-bottom: 11rem;
        thead{
            background-color: $background-header-table;

            tr{
                text-align: left;
               th{
                    color: $all-text;
                    padding: 1.6rem 4rem;
                    
                    &:first-child{
                        border-radius: 1.2rem 0 0 0;
                    }

                    &:last-child{
                        border-radius: 0 1.2rem 0 0;
                    }
               }
            }
        }

        @mixin config-td(){
            font-size: 2rem;
            font-weight: 700;
        }


        tbody{
            text-align: left;

            tr{

                &:nth-child(odd){
                    background-color: $background-for-even;
                }
                
                &:nth-child(even){
                    background-color: $background-for-odd;
                }
                
                .user{
                    display: flex;
                    align-items: center;
                    gap: 1.6rem;
                    padding: 1.6rem 3.2rem;

                    img{
                        width: 5.6rem;
                        height: 5.6rem;
                        border-radius: 50%;
                    }

                    a{
                        text-decoration: none;
                        color: $all-text;
                        @include config-td();

                        span{
                            font-weight: 400;
                        }
                    }

                    
                }

                td{
                    color: $all-text;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 3.2rem;
                    padding-left: 4rem;

                    button{
                        color: $remove;
                        @include config-td();
                        background: none;
                        border: none;
                        cursor: pointer;
                    }
                }

            }
           
        }


    }
}



